/* 家系図エリアだけ定義する最低限のCSS */
#tree {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* 右パネルは使わないので非表示 */
#side-panel {
    display: none;
}

/*imgラベルを消す*/
#tree .boc-edit-form .boc-input:has(input[data-binding="img"]) label {
    display: none !important;
}

/*画像のURLを消す*/
#tree .boc-edit-form input[data-binding="img"] {
    display: none !important;
}

/*descを改行*/
.oc-field_2,
.oc-desc {
  white-space: normal !important;   /* ← 改行OKにする */
  word-break: break-word !important; /* ← 日本語でも折れる */
  overflow: visible !important;      /* ← はみ出し防止 */
  height: auto !important;           /* ← 高さ固定を解除 */
  line-height: 1.4em;                /* ← 読みやすく */
}

.oc-card,
.oc-card-inner {
  height: auto !important;
}
