/* 家系図エリアだけ定義する最低限のCSS */
#tree {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* 右パネルは使わないので非表示 */
#side-panel {
    display: none;
}

/*imgラベルを消す*/
#tree .boc-edit-form .boc-input:has(input[data-binding="img"]) label {
    display: none !important;
}

/*画像のURLを消す*/
#tree .boc-edit-form input[data-binding="img"] {
    display: none !important;
}

/*desc改行*/
.oc-desc {
  white-space: pre-wrap !important;
  word-break: break-word !important;
  overflow: visible !important;
  height: auto !important;
  line-height: 1.4em;
}
